<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>local</key>
	<dict>
		<key>facebookAppID</key>
		<string>APPIDGOESHERE</string>
		<key>pixateLicenseKey</key>
		<string>LICENSEGOESHERE</dict>
		<key>pixateLicenseUser</key>
		<string>USERGOESHERE</dict>
	</dict>
	<key>staging</key>
	<dict>
		<key>facebookAppID</key>
		<string>APPIDGOESHERE</string>
		<key>pixateLicenseKey</key>
		<string>LICENSEGOESHERE</dict>
		<key>pixateLicenseUser</key>
		<string>USERGOESHERE</dict>
	</dict>
	<key>production</key>
	<dict>
		<key>facebookAppID</key>
		<string>APPIDGOESHERE</string>
		<key>pixateLicenseKey</key>
		<string>LICENSEGOESHERE</dict>
		<key>pixateLicenseUser</key>
		<string>USERGOESHERE</dict>
	</dict>
</dict>
</plist>
