label {
  font-family: Amaranth;
  background-color: rgba(clear,0);
}

#slide_menu {
  background-color: #424242;
}

#launch_view {
  background-color: #185ba6;
}

#launch_view button {
  background-color: #064388;
  image-edge-right-inset: 90;
  border-radius: 6;
}

#launch_view button label {
  color: #a7c2e1;
}

#launch_view label {
  color: white;
  font-align: center;
}

#launch_view button:selected {
  background-color: #053b78;
}

#tab_container {
  background-color: #e0e0e1;
}

#tab_container #title_bar {
  background-color: rgba(24,91,166,.9);

#tab_container #tab_view .tab_button label {
  font-size: 15px;
}

#tab_container collection-view {
  background-color: rgba(0,0,0,0);
}

#tab_container collection-view-cell.item_cell {
  background-color: white;
  border-radius: 5px;
  border-color: #d6d6d6;
  border-width: 1px;
}

#tab_container collection-view-cell label.item_title {
  font-weight: bold;
  color: #185ba6;
  font-size: 20px;
}

#tab_container collection-view-cell label.item_price {
  color: #4a4a4a;
  font-size: 16px;
}

#tab_container collection-view-cell view.author_container {
  background-color: #f6f6f6;
  border-radius: 0 0 5px 5px;
  border-color: #d6d6d6;
  border-width: 1px;
}
