#launch_view {
  background-color: #185ba6;
}

#launch_view button {
  background-color: #064388;
  image-edge-right-inset: 90;
  border-radius: 6;
}

#launch_view button label {
  color: #a7c2e1;
}

#launch_view label {
  background-color: rgba(clear,0);
  color: white;
  font-align: center;
  font-family: Amaranth;
}

#launch_view button:selected {
  background-color: #053b78;
}

#tab_container #tab_view button {
  background-color: #353535;
}

#tab_container #tab_view button label {
  font-family: Amaranth;
  font-size: 15px;
  color: white;
}

#tab_container #tab_view button.inactive {
  background-color: #424242;
}

#tab_container #tab_view button.inactive label {
  color: #bababa;
}
